@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,600;1,700&family=Poppins&family=Quicksand&family=Raleway&family=Roboto&family=Nanum+Gothic+Coding:wght@400;700&&family=Space+Mono:wght@400;700&display=swap');


:root {
  /* --font: 'Roboto'; */
  --font: 'Space Mono', monospace;
  --font: 'Nanum Gothic Coding', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font), sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background: #2f363e;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;

}
.title {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(112, 112, 112);
}

.container {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px
}

.controls,
.btnControls {
  font-size: 2rem;
  color: whitesmoke;
  margin: 0;
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
  align-items: center;
}

.leftBtnBox,
.rightBtnBox {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 5px;
}
.leftBtnBox {
  justify-content: start;
  font-size: 3rem;
  padding-left: 10px;
}

.rightBtnBox {
  justify-content: end;
  font-size: 3rem;
  padding-right: 10px;
}

.btn {
  font-size: 3.5rem;
  color: whitesmoke;
  border: 1px solid transparent;
}

.btn:hover {
  border: 1px solid whitesmoke;
}

.btn:active {
  color: greenyellow;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  padding: 5px;
}

.settings {
  font-size: 1.5rem;
}

.settings .btn {
  color: #212325;
}

.settings #astronaut {
  font-size: 2rem;
}

.astronaut {
  font-size: 2rem;
  color: red;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
  font-size: 1rem;
  color: whitesmoke;
}

footer a {
  color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
  color: whitesmoke;
}

footer a:hover {
  filter: brightness(110%);
	transition: 0.3s;
  color: darkgray;
}

@media only screen and (width < 600px) {
  .leftBtnBox, .rightBtnBox {
    margin: 0;
    padding: 5px;
  }
  
  .btn {
    display: grid;
    font-size: 1.4rem;
    margin: 0;
  }

  footer {
    font-size: 0.9rem;
    margin: 0 auto;
  }
}
